---
import Layout from '../layouts/Layout.astro';
import EditionCrafter from "@cu-mkp/editioncrafter";
---

<Layout title="Native Bound Unbound">
    <div class="w-full h-[80dvh] bg-white">
        <EditionCrafter
            documentName='BnF Ms. Fr. 640'
            transcriptionTypes={{
                tl: 'Translation (EN)',
            }}
            iiifManifest='https://cu-mkp.github.io/editioncrafter-data/fr640_3r-3v-example/iiif/manifest.json'
            glossaryURL='https://cu-mkp.github.io/editioncrafter-data/fr640_3r-3v-example/glossary.json'            
            client:only
        />
    </div>
</Layout>