---
import Layout from '../layouts/Layout.astro';
import EditionCrafter from "@cu-mkp/editioncrafter";
---

<Layout title="Native Bound Unbound">
    <div class="w-full h-[80dvh] bg-white">
        <EditionCrafter
            documentName='Taos Baptisms'
            transcriptionTypes={{
                translation: 'Translation',
                transcription: 'Transcription',
            }}
            iiifManifest='https://cu-mkp.github.io/editioncrafter/taos-baptisms-example/iiif/manifest.json'
            client:only
        />
    </div>
</Layout>