---
import Container from "./Container.astro";
import logo from "../assets/footer/editioncrafterlogo.svg";
import gh from "../assets/footer/github.svg";
import twitter from "../assets/footer/twitter.svg";
import lizard from "../assets/footer/MKLizard.png";
import nsf from "../assets/footer/NSF.png";
import pss from "../assets/footer/Performant_Logo.svg";
import { Image } from "astro:assets";

---

<div class="bg-neutral w-full">
    <Container className="flex flex-col gap-8 py-12 items-center">
        
    </Container>
</div>